<!DOCTYPE html>
<html>
<head>
<title>About</title>
  <%= link_to image_tag'ChrisWebsiteHeader.png' %>
</head>
<body>



<table border="1" style="width:100%">
    <tr rowheight="15">
      <%= link_to 'Home', root_path %>
    </tr>
  <tr>
    <td>
        <center>
          <h3>Welcome to the About Page</h3>
          <p>This is my about page.</p>
        </center>
          <br><br><br><br><br><br><br><br><br><br><br>
    </td>
  </tr>
</table>

</body>
</html>