<!DOCTYPE html>
<html>
<head>
<title>Home</title>
  <%= link_to image_tag'ChrisWebsiteHeader.png' %>
</head>
<body>



<table border="1" style="width:100%">
  <tr rowheight="15">
    <%= link_to 'About', about_path %>
    </tr>
    <tr>
      <td>
        <center>
          <h3>Welcome</h3>
          <p>This is my website made with html.</p>
        </center>
          <br><br><br><br><br><br><br><br><br><br><br>
      </td>
    </tr>
</table>

</body>
</html>